.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 36px;
}

.form label {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 18px;
}

.form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 18px;
}
.form button {
  padding: 16px;
  width: 100%;
  font-size: 20px;
}
